* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vermelho: #DA291C;
    --branco: #FFFFFF;
    --preto: #000000;
    --amarelo: #f0b100;
    --cinza: #4a5565;
    --cinza-claro: #e5e7eb;

    --cinza-fundobusca: #f3f3f5;
    --cinza-fundocard: #f7f8f9;
    --fundocard-amarelo: #fefbe2;
    --fundocard-red: #ffecec;

    --vermelho-hover: #c10007;

    --arial: "Arial", sans-serif;
    --roboto: "Roboto", sans-serif;
    --noto-sans: "Noto Sans", sans-serif;
    --inter: "Inter", sans-serif;
}

header {
    width: 100%;
    height: 192px;
    padding-inline: 6px;
    background: var(--branco);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

header .headerprincipal {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;

    padding-inline: 30px;
}

header .headerprincipal .headertopo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .headerprincipal .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: fit-content;
}

header .headerprincipal .titulo img {
    width: 48px;
}

header .headerprincipal .titulo h1 {
    font-size: 30px;
    font-family: var(--noto-sans);
    font-weight: 500;
    color: var(--vermelho);
}

header .headerprincipal .titulo p {
    font-size: 14px;
    font-family: var(--arial);
    color: var(--cinza);
}

header .headerprincipal .headertopo .sair {
    background: var(--cinza-fundocard);
    border: none;
    border-radius: 6px;
    padding: 6px 14px;
    font-family: var(--noto-sans);
    font-size: 14px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    && img {
        height: 16px;
    }
}

header .headerprincipal form input {
    width: 100%;
}

.busca {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--cinza-fundobusca);
    padding: 8px;
    border-radius: 8px;
}

.busca img {
    width: 18px;
}

.busca input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    /* faz o input ocupar o resto do espaço */
}

.headerprincipal .filtros {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    gap: 12px;
    padding-bottom: 10px;
}

.headerprincipal .filtros button {
    background: var(--branco);
    border: 1px solid var(--cinza-claro);
    min-width: fit-content;
    border-radius: 6px;
    height: 36px;
    padding-inline: 20px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerprincipal .filtros button.pressionado {
    background: var(--vermelho);
    color: var(--branco);
}

.headerprincipal .filtros button.pressionado:hover {
    background: var(--vermelho);
    color: var(--branco);
}

.headerprincipal .filtros button:hover {
    background: var(--cinza-fundobusca);
}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    right: 20px;
    bottom: 20px;


    background: var(--vermelho);
    border: 1px solid var(--cinza-claro);
    border-radius: 6px;
    height: 36px;
    width: 36px;
    border-radius: 100%;
    padding: 24px;
    cursor: pointer;

    && img {
        height: 24px;
    }
}

main {
    margin-top: 206px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lista-itens {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px;
    justify-content: center;
}

.item {
    width: 300px;
    height: 100%;
    /* importante */

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 12px;
    border: 1px solid var(--cinza-claro);
    border-radius: 12px;
}

.item .imagem {
    width: 100%;
    height: 180px;
    /* altura fixa */

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item .imagem img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.item .imagem p {
    position: absolute;
    top: 12px;
    right: 12px;

    background: var(--vermelho);
    color: var(--branco);

    padding: 4px 8px;
    border-radius: 8px;
    font-family: var(--noto-sans);
    flex-grow: 1;
}

.item h2 {
    font-family: var(--noto-sans);
    font-size: 18px;
    color: var(--preto);
    padding-block: 12px;
}

.item p {
    font-family: var(--arial);
    font-size: 14px;
    color: var(--cinza);
}

.item button {
    background: var(--vermelho);
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    color: var(--branco);
    font-family: var(--noto-sans);
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin-block: 16px;
}

.ff {
    display: none;
}

.right {
    display: none;
}

.right.aberto {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);

    width: 100%;
    height: 100vh;

    background: var(--branco);
    z-index: 99999;
}


.topocarrinho{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80px;
    background-color: var(--vermelho);
    padding-inline: 10px;
}

.topocarrinho .botaox button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 100px;
}

.topocarrinho .botaox button:hover{
    background: var(--vermelho-hover);
}


.meucarrinho {
    display: flex;
    justify-content: space-between;
    padding-inline: 5px;
   
}
.headermeucarrinho {
    display: flex;
    align-items: center;


    && img{
        height: 25px;    
    }

    && h2 {
        color: var(--branco);
        font-family: var(--noto-sans);
        font-weight: 500;
        font-size: 18px;
        margin-left: 10px;
    }
}


.botaox{
    display: flex;
    align-items: center;

    && img{
        height: 20px;
    }
}

.contador{
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: var(--branco);
    font-family: var(--arial);
    font-weight: 200;
}

.conteudovazio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #FFFFFF;
    height: 100dvh;
    gap: 10px;
  

    && img{
       height: 60px;
    }

    && h2{
        font-family: var(--arial);
        color: var(--cinza);
        font-weight: 400;
        font-size: 18px;
        
    }

    && p{
        font-family: var(--arial);
        color: var(--cinza);
        font-size: 14px;
    }
}

.itemnocarrinho {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--cinza-claro);
    border-radius: 12px;
    margin: 15px;

    && h2 {
        font-family: var(--noto-sans);
        font-weight: 500;
        font-size: 18px;
    }
}

.itemnocarrinho .fotolanchecarrinho img{
    height: 100px;
}

.itemnocarrinho .informacoeslanchecarrinho {
    display: flex;
    flex-direction: column;
    margin-block: auto;
    gap: 5px;

    && > p {
        color: var(--vermelho);
    }
}

.itemnocarrinho .informacoeslanchecarrinho div {
    display: flex;
    align-items: center;
    gap: 12px;

    && button {
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: var(--noto-sans);
        font-size: 22px;

        background: var(--branco);
        border: 1px solid var(--cinza-claro);
        color: var(--preto);
        border-radius: 5px;
        height: 30px;
        width: 30px;
    }
}

.itemnocarrinho .deletarlanchecarrinho{
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

.itemnocarrinho .deletarlanchecarrinho button {
    background: none;
    border: none;

    && img {
        height: 20px;
    }
}

.total{
    margin-top: auto;
    padding-bottom: 20px;
    border-top: 1px solid var(--cinza-claro);
    padding-top: 10px;
}

.total .valor {
    display: flex;
    width: 100%;
    padding-inline: 15px;
    justify-content: space-between;
    font-family: var(--noto-sans);

    && .ptotal {
        color: var(--preto);
        font-size: 18px;
    }

    && .pvalor {
        color: var(--vermelho);
        font-size: 20px;
    }
}

.finalizacao {
    width: 100%;
    
    display: flex;
    justify-content: center;
    
    && button {
        font-family: var(--roboto);
        font-weight: 400;
        font-size: 18px;
        width: 100%;
        margin-inline: 15px;
        margin-top: 5px;
        height: 40px;
        border: none;
        color: var(--branco);
        background: var(--vermelho);
        border-radius: 5px;
        cursor: pointer;
    }
}

.finalizarpedido {
    display: none;
}

.finalizarpedido.aberto {
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9999999999;
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--branco);
}

@media (min-width: 1100px) {
    body.aberto {
        display: grid;
        grid-template-columns: 4fr 1fr;
    }

    header.aberto {
        width: 80%;
    }

    .right.aberto {
        width: 20%;
        height: 100%;
        z-index: 9999;
    }

    .headerprincipal {
        padding-inline: 100px;
    }

    main {
        padding-inline: 100px;
    }
}